<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536153952717-2d1ad23q7bcbhiq2khkr5umk5lthtgc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536153952717-2d1ad23q7bcbhiq2khkr5umk5lthtgc5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>536153952717-gtpiat4rf955esu4q2bhuhm6hnb5o1cp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJ1RJYFrFN2uoBZc8nL2-nQPqOBGp-IvU</string>
	<key>GCM_SENDER_ID</key>
	<string>536153952717</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wyaFinal</string>
	<key>PROJECT_ID</key>
	<string>wya-app-d1efb</string>
	<key>STORAGE_BUCKET</key>
	<string>wya-app-d1efb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536153952717:ios:3525bb28d8d1cd1519f484</string>
</dict>
</plist>